{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="de-de">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script type="text/javascript">
        (function() {
            var hm = document.createElement('script');
            hm.type = 'text/javascript';
            hm.async = true;
            hm.src = ('++u-heatmap-it+log-js').replace(/[+]/g, '/').replace(/-/g, '.');
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Description" content="SCC - wissenschaftliches Rechenzentrum und modernes IT-Service-Zentrum mit eigener Forschung und Entwicklung" />
    <meta name="Keywords" content="Wissenschaftliches Rechenzentrum, High Performance Computing, HPC, Data Intensive Computing, DIC, Scientific Computing, Simulation, Grid Computing, Cloud Computing, Large-Scale Data Management &amp; Analysis, SCC, KIT" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="KIT.visibility" content="external" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.scc.kit.edu/img/ivi/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://www.scc.kit.edu/31.php" />
    <link rel="stylesheet" type="text/css" href="https://www.scc.kit.edu/7.php_content_schriftgroesse_1.1em.css" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/jquery-ui.min.css' %}"/>
    <script type="text/javascript" src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <SCRIPT src="https://www.scc.kit.edu/6.js" language="javascript" type="text/javascript"></SCRIPT>
    <script type="text/javascript" src="https://www.scc.kit.edu/4218.js"></script>
    <base target="_top" />

    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">
    <meta name="projguid" content="F8022908BA884CE28B4EC47DE26C13B9" />
    <meta name="pageguid" content="B31BA3E8D403428A9010B1578410FF72" />
    <meta name="is_public" content="true" />
    <title>KIT - SCC - Dienste - Datenhaltung und -management - LSDF</title>
</head>

<body>
    {% block scc-body %}

    <!-- Wrapper: start -->
    <div id="wrapper">
        <!-- Metanavigation: start -->
        <div id="metanavigation" style="font-size: 12px;" ><a accesskey="1" href="https://www.scc.kit.edu/index.php">Home</a>&nbsp;|&nbsp;<a accesskey="3" href="https://www.scc.kit.edu/3249.php">Sitemap</a>&nbsp;|&nbsp;<a href="/en/services/5591.php">english</a> &nbsp;|&nbsp;<a accesskey="8" href="https://www.scc.kit.edu/impressum.php">Impressum</a>&nbsp;|&nbsp;<a href="https://www.scc.kit.edu/datenschutz.php">Datenschutz</a>&nbsp;|&nbsp;<a href="http://www.kit.edu">KIT</a></div>
        <!-- Metanavigation: end -->
        <!-- Head: start -->
        <div id="head">
            <div id="logo">
                <a href="http://www.kit.edu" title="KIT-Logo - Link zur KIT-Startseite"><img src="https://www.scc.kit.edu/img/intern/kit_logo_V2_de.svg" alt="KIT-Logo - Link zur KIT-Startseite" style="background-image:url(https://www.scc.kit.edu/img/intern/kit_logo_canvas.png); height:108px; width:204px; padding:31px 19px 13px 10px"></a>
            </div>
            <div id="head-image" copyright="" style="background-image:url('https://www.scc.kit.edu/img/oko/scc_hdbg_V2.jpg')">
                <div id="key-visual">
                    <a href="https://www.scc.kit.edu/index.php"><img copyright="" src="https://www.scc.kit.edu/img/oko/scc_hdbg_re_V2.jpg" alt="Logo Steinbuch Centre for Computing (SCC)"></a>
                </div>
                <div id="head-text" class="big_font" style="height: 32px !important;"><a style="font-size: 12px;" href="https://www.scc.kit.edu/index.php">Steinbuch Centre for Computing (SCC)</a></div>
                <div id="head-text-corner">&nbsp;</div>
            </div>
        </div>
        <!-- Head: end -->

        <!-- Spacer: start -->
        <div class="spacer" style="border-right:none;">
            <!-- -->
        </div>
        <!-- Spacer: end -->

        <!-- Container: start -->

        <div id="wrapper-content" class="container" style="background-color: #fff;margin: 0px 27px; width: 960px;">
          <div class="row justify-content-center">
            <div class="col-12">
                {% block content-wrapper %}
                {% endblock %}
            </div>
          </div>
        </div>
        <!-- Container: end -->
    </div>
    <!-- Wrapper: end -->
    <script type="text/javascript">
        noSpam();
        window.onresize = resize_window;
        remove_liststyle();
        if (typeof(disable_faq) != 'boolean') {
            collapseFAQ();
        }
        height = $("#wrapper").outerHeight() - $("#head").outerHeight() - 8 - $(".spacer").outerHeight() + 15;
        $("#wrapper-content").css("height", height);
    </script>
{% endblock %}
</body>

</html>