{% extends "base.html" %}

{% block content-wrapper %}
    <a name="top" id="top"></a>
    <!-- CONTENT-AREA START -->

    <!-- Textblock [start] -->
    <a id="block6117" name="block6117">
        <!-- Sprungmarke -->
    </a>

    {% if error_message %}<p class="bigger"><strong>{{ error_message }}</strong></p>{% endif %}


    <form action="{% if pk %}{% url 'order:edit' pk %}{% else %}{% url 'order:new' %}{% endif %}" accept-charset="UTF-8" method="post">
        {% csrf_token %}
        <h2>Project information</h2>
        <div class="field">
            <label>Project Name:</label>
            {{ form.project_name }}
        </div>
        <br>
        <h2>Contacts</h2>
        <table>
            <tr>
                <td>
                    <h3>Head of the project</h3>
                    {{ form.customer1 }}
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <h3>Technical contact</h3>
                    {{ form.customer2 }}
                </td>
            </tr>
        </table>

        <br>
        <h2>Project details</h2>
        <div class="field">
            <label>Please describe the scientific objectives of your project:</label>
            {{ form.abstract }}
        </div>
        <div class="field">
            <label>Please describe your technical requirements:</label>
            {{ form.notes }}
        </div>
        <div class="field">
            <label>End of the project:</label>
            {{ form.end_date }}
        </div>
        <div class="field">
            <label>Expected storage capacity in TB (1 TB = 1000 GB):</label>
            {{ form.capacity }}
        </div>
        <br>
        <div class="field">
            <label>What should be the name of the project directory? We recommend using a short project acronmy. Allowed
                characters are "a-z 0-9 _ -"
                <br> Directory name:</label>
            {{ form.directory_name }}
        </div>

        <br>
        <h2>Protocols</h2> Please select the protocols that you want to use in order to access your data.
        <br>
        <div class="field">
            {{ form.protocol_ssh }} {{ form.protocol_ssh.label_tag }}
        </div>
        <div class="field">
            {{ form.protocol_sftp }} {{ form.protocol_sftp.label_tag }}
        </div>
        <div class="field">
            {{ form.protocol_scp }} {{ form.protocol_scp.label_tag }}
        </div>
        <div class="field">
            {{ form.protocol_cifs }} {{ form.protocol_cifs.label_tag }}
        </div>
        <div class="field">
            {{ form.protocol_nfs }}
            <label>NFS V3 (Client needs to be connected to KIT-IDM)</label>
            <br>
            <label>NFS Client networks:</label>
            {{ form.nfs_network }}
        </div>

        <br>
        <h2>Access control</h2>
        <div class="field">
            <label>Who should be the owner the project directory? The owner can be a KIT user (e.g. ab1234) or a KIT
                service account (e.g. OE-ProjectName-0001). Please, contact your ITB to create a service account.
                <br> Owner name:</label>
            {{ form.owner_name }}
        </div>
        <br>
        <div class="field">
            <label>Which group should get access to your project directory (e.g. OE-ProjectName-LSDF)? Please, leave
                this field empty if you don't want to share your data or contact your ITB to create a group.
                <br> Group name:</label>
            {{ form.group_name }}
        </div>
        <br>
        <div class="field">
            <label>Which group permissions should be set?</label>
            <br/>
            {{ form.group_permission }}
            {{ form.group_cifsacls }}<label>CIFS ACLs</label>
        </div>
        <br>
        <div class="actions">
            <input type="submit" value="Submit Storage Proposal"/>
        </div>
    </form>
    <!-- Textblock [end] -->

    <!-- CONTENT-AREA END -->
    <a name="bottom" id="bottom"></a>
{% endblock %}
