{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content-wrapper %}
    <h1 class="mt-2">
        {% if pk %}
            Edit project
        {% else %}
            Create new project
        {% endif %}
    </h1>

    {% if error_message %}
        <p class="bigger text-danger"><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% if order %}
        <div class="alert alert-{{ order.alert_color }} float-right">{{ order.state }}</div>
    {% endif %}

    <a role="button" href="#div_add_comment" class="btn btn-primary mb-5 mr-2 float-right btn_add_comment" data-toggle="collapse" aria-expanded="false" aria-controls="div_add_comment">
        Add comment
    </a>

    <form action="{% if pk %}{% url 'order:edit' pk %}{% else %}{% url 'order:new' %}{% endif %}"
          class="mb-5"
          accept-charset="UTF-8"
          method="post"
    >
        {% csrf_token %}

        <h2>Project information</h2>
        {{ form.project_name|as_crispy_field }}

        <h2>Contacts</h2>
        <div class="row justify-content-center">
            {% if pk %}
                <div class="col-4">
                    <h5>Owner of the project</h5>
                    {{ form.owner_email|as_crispy_field }}
                    {{ form.owner_institute|as_crispy_field }}
                    {{ form.owner_firstname|as_crispy_field }}
                    {{ form.owner_lastname|as_crispy_field }}
                </div>
            {% endif %}
            <div class="col-{% if pk %}4{% else %}6{% endif %}">
                <h5>Head of the project</h5>
                {{ form.head_email|as_crispy_field }}
                {{ form.head_institute|as_crispy_field }}
                {{ form.head_firstname|as_crispy_field }}
                {{ form.head_lastname|as_crispy_field }}
            </div>
            <div class="col-{% if pk %}4{% else %}6{% endif %}">
                <h5>Technical contact</h5>
                {{ form.tech_email|as_crispy_field }}
                {{ form.tech_institute|as_crispy_field }}
                {{ form.tech_firstname|as_crispy_field }}
                {{ form.tech_lastname|as_crispy_field }}
            </div>
        </div>

        <h2>Project details</h2>
        {{ form.abstract|as_crispy_field }}
        {{ form.notes|as_crispy_field }}
        {{ form.end_date|as_crispy_field }}
        {{ form.capacity|as_crispy_field }}
        {{ form.directory_name|as_crispy_field }}

        <h2>Protocols</h2>
        <div class="form-group">
            <div class="form-check">
                <label for="id_protocols" class="form-check-label">
                    <input type="checkbox" name="protocol_cifs" checked disabled id="id_protocols" class="checkboxinput form-check-input">
                    SSH, SFTP, SCP, HTTPS/Web are enabled for all storage projects
                </label>
            </div>
        </div>
        {{ form.protocol_cifs|as_crispy_field }}
        {{ form.protocol_nfs|as_crispy_field }}
        <div id="div_id_nfs_network_to_collapse">{{ form.nfs_network|as_crispy_field }}</div>

        <h2>Access control</h2>
        <div class="row justify-content-center">
            <div class="col-6">
                {{ form.owner_name|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.group_name|as_crispy_field }}
            </div>
        </div>

        {{ form.group_permission|as_crispy_field }}
        {{ form.group_cifsacls|as_crispy_field }}

        {% if form.state %}
            <h2>State</h2>
            {{ form.state|as_crispy_field }}
        {% endif %}

        <div class="container">
            <div class="row justify-content-end mb-5">
                {% if pk %}
                    <a role="button" id="btn_add_comment" href="#div_add_comment" class="btn btn-primary mr-2 btn_add_comment" data-toggle="collapse" aria-expanded="false" aria-controls="div_add_comment">
                        Add comment
                    </a>
                {% endif %}

                {% if pk %}
                    <button type="submit" class="btn btn-success">Save changes</button>
                {% else %}
                    <button type="submit" class="btn btn-success">Submit Storage Proposal</button>
                {% endif %}
            </div>
        </div>
    </form>

    {% if comments %}
        <div class="container">
            {% for comment in comments %}
                <div class="row mb-3{% if comment.person.is_staff %} justify-content-end {% endif %}">
                    <div>
                        <div class="{% if comment.person.is_staff %}text-right{% endif %}">
                            <span class="font-weight-bold">{{ comment.person }}</span> commented at {{ comment.create_date|date:"j.n.Y" }}
                        </div>
                        <div class="card card-body {% if comment.person.is_staff %}text-right ml-5 alert alert-dark{% else %}mr-5{% endif %}">
                            {{ comment.text }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a role="button" href="#div_add_comment" class="btn btn-primary mb-5 float-right btn_add_comment" data-toggle="collapse" aria-expanded="false" aria-controls="div_add_comment">
            Add comment
        </a>
    {% endif %}

    {% if pk %}
        <div name="add-comment" id="div_add_comment" class="collapse mt-3 mb-5">
            <form action="{% url 'order:save-comment' pk %}"
                  accept-charset="UTF-8"
                  method="post"
            >
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button type="submit" class="btn btn-primary float-right mb-5">Save comment</button>
            </form>
        </div>
    {% endif %}


    <script type="text/javascript">
        $(function () {
            // display end_date with calender
            $("#id_end_date").datepicker({  dateFormat: 'dd.mm.yy' ,
                                            changeMonth: true,
                                            changeYear: true,
                                            showOtherMonths: true,
                                            selectOtherMonths: true,
                                            maxDate: "+3Y",
                                            defaultDate: "+3Y"
                                        });

            // collapse nfs_network field if checkbox not checked
            $("#div_id_nfs_network_to_collapse").addClass("collapse");
            {% if nfs_aria_expanded == "true" %}
                $("#div_id_nfs_network_to_collapse").addClass("show");
            {% endif %}
            let nfsCheckbox = $("#id_protocol_nfs")
            if (!nfsCheckbox.attr("disabled")) {
                $("#id_protocol_nfs").parent().attr({"data-toggle":"collapse", "data-target":"#div_id_nfs_network_to_collapse", "aria-expanded":"{{ nfs_aria_expanded }}", "aria-controls":"div_id_nfs_network_to_collapse"});
            }

            // append add comment field
            function scrollToAddComment() {
                let target = $("#div_add_comment");
                if (target.length) {
                    $('html,body').animate({ scrollTop: target.offset().top }, 500);
                }
            }
            $('#div_add_comment').on('show.bs.collapse', function () {
                $('.btn_add_comment').hide();
            });
            $('#div_add_comment').on('shown.bs.collapse', function () {
                scrollToAddComment();
            });
        });
    </script>
{% endblock %}
