{% extends "base.html" %}

{% block content-wrapper %}
    {% if latest_order_list %}
        <h3>Storage projects:</h3>
        <table>
            {% for order in latest_order_list %}
                <tr>
                    <td style="padding-right: 50px;">
                        <a href="{% url 'order:edit' order.id %}">{{ order }}</a>
                    </td>
                    <td style="padding-right: 50px; margin: 0">
                        <p>{{ order.head.firstname }} {{ order.head.lastname }}</p>
                    </td>
                    <td style="padding-right: 50px; margin: 0">
                        <p>{{ order.head.institute }}</p>
                    </td>
                    <td>
                        <a href="{% url 'order:comment' order.id %}">Add comment</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No requests are available.</p>
    {% endif %}

    <a href="{% url 'order:new' %}" class="kit-ca-ui-button bigger box-left-to-right">New request</a>
{% endblock %}
